.mapa{
    width: 680px;
    height: 480px;
    background-color: dimgrey;
    margin: 1rem 0;
    z-index: -1;
    /* position: absolute; */
}

.imagen-forma{
    width: 680px;
    height: 480px;
    position:absolute;
    /* visibility: hidden; */
    z-index: 9;
}