/* @import url(https://fonts.googleapis.com/css?family=Overlock:400,400italic);
* {margin: 0; padding: 0; border: 0 none;}
html {
  background: #8E44AD;
  font-family: 'Overlock', serif;
  font-style: italic;
  font-size: 1.3rem;
} */
.visor {
  width: 45rem;
  max-width: 80%;
  margin: .5rem auto;
  overflow: hidden;
  position: relative;
  border: 5px solid #E5F04C;
  border-radius: 3px;
}
.visor img {
  display: block;
  position: relative;
  width: 300%;
  transition: 5s linear;
}
.visor:hover img {
  transform: translateX(-66.6%);
}
figcaption {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  color: #6495ED;
  color: #6495ED;
    background: aliceblue;
    
}
/* h2 {
  font-size: 2rem;
  line-height: 1
} */
/* p {margin-bottom: .5rem}
a {
  color: #E5F04C;
  text-decoration: none;
} */
.swal2-title{

  font-size: calc(1em + 1vw) !important;
  font-weight: 100 !important;
  
}

/* @media ((max-width: 768px) and (orientation: landscape)) { */
  @media ((orientation: landscape)) {
  
  .swal2-popup{
    /* max-width: 75% !important; */
    max-width: 50% !important;
    height: 90%;
    font-size: 0.5rem !important;
    padding: 8px 0 1.25em !important;
    
  }
  .container-grid{
    display: grid;
    grid-template-columns: 1fr .4fr;
    justify-content: space-between;
    /* margin: -1rem 1rem 0rem 0rem; */
  }
  .div-card {
    margin: 1rem auto !important;
    background-color: #004d40;
    width: 95%;
  }

  .div-card img {
    max-width: 100%;
    /* object-fit: initial; */
}


  /* .img-size{
    width: 100%;
    height: 5vh;
  } */
  
} 

.swal2-html-container {
  z-index: 1;
  justify-content: center;
  margin: 1em 1.6em -3.7em !important;
}

.visor:after {
  content: '\25BA';
  position: absolute;
  z-index: 5;
  top: 50%;
  left: 50%;
  color: rgba(255,255,255,.3);
  font-size: 8rem;
  border: 5px solid rgba(255,255,255,.1);
  background: rgba(255,255,255,.15);
  line-height: 8rem;
  border-radius: 50%;
  letter-spacing: -1rem;
  padding: .5rem 1rem;
  opacity: 1;
  transform: translate(-50%, -50%);
  transition: .7s;
}
.visor:hover:after {opacity: 0}
/* body > p {
  margin-left: 15%;
  text-indent: -2rem;
} */


.altura_visor_img{
    height: 30rem;
  }

  @media (max-width: 958px) {
    .altura_visor_img{
      height: 21rem;
    }
    
  }

  .swal2-confirm{
    padding: 0.5rem 1rem;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,121,109,1) 40%, rgba(0,212,255,1) 83%);
    color: #ffffff;
    font-weight: bold;
    font-size: 1rem;
    border-radius: 1.6rem;
    transition: all .3s ease-in-out;
    margin: 0em auto 1em;
  }

  .swal2-confirm:hover{
    opacity: .8;
    transform: scale(1.15);
    cursor: pointer;
  }

  .swal2-pop-style{
    background-color: #15C1F0!important;
    border-radius: 2rem!important;
    border: 4px solid #000!important;
  }
  .swal2-close{
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgb(108, 9, 121) 40%, rgb(255, 0, 85) 83%) !important;
    padding: 1rem 1rem !important;
    margin: 1rem!important;
    /* margin-top: 1rem!important; */
  }

  .cancel-btn{
    padding: 1rem 2rem;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgb(108, 9, 121) 40%, rgb(255, 0, 85) 83%);
    color: #ffffff;
    font-weight: bold;
    font-size: 1.2rem;
    border-radius: 1.6rem;
    transition: all .3s ease-in-out;
  }